{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3">
            <form role="form" method="POST" action="{{ url_for('upload')}}">

                <h1>เพิ่มประเภทเอกสาร</h1>
                <hr style="border-top:3px solid #444444;">
                <fieldset>


                    <div class="row">
                        <div class="form-group col-md-5 col-sm-5 col-xs-5 col-lg-5">
                            <h4 for="">ชื่อประเภท</h4>
                            <input type="text" class="form-control" name="doc" id="doc" required
                                accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </div>
                    </div>


                </fieldset>


                <div class="row">
                    <div class="form-group checkbox-group col-md-10 col-sm-10 col-xs-10 col-lg-10">
                        <h4 class="descrip" style="height: 50px;padding-top: 20px;">เอกสารที่จะเพิ่มในประเภทdgeherhethethehethetwhethethetgerfergggggggggwdpogkerhjerhjeroihjeigjegjegrear8gggggggggggggggggggggg</h4>
                        <div style="background-color: #f0f0f0; height: 300px; overflow-y: auto;overflow-x: hidden; " id="style-2" >
                            <div class="row">
                                <table style="width: 100%;text-align: center; " >
                                    <tbody >

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>
                                        

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                            <td>
                                                <label class="test2"><input type="checkbox" style="vertical-align: baseline; margin-right: 5px;">เอกสาร ABCDsgeragearhgaeh</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>

                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-13">
                            <div class="checkbox">
                                <h4>
                                    <input type="checkbox" value="" id="">
                                    ส่งอีเมลเพื่อแจ้งเตือน
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group" align="right">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-13">
                            <button type="submit" class="btn btn-primary">
                                เพิ่มประเภท
                            </button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
</div>


{% endblock content %}