
{% extends "layout.html" %}
{% block content %}

<h1 >เอกสารทั้งหมด</h1>
<div class="row">
    <div class="col-md-12 col-sm-12 top_div">
        <div class="row">
            <div class="col-md-1 "><h3 class="top_div-message">No.</h3></div>
            <div class="col-md-5 "><h3 class="top_div-message">ชื่อเอกสาร</h3></div>
            <div class="col-md-2 "><h3 class="top_div-message" align="center">upload โดย</h3></div>
            <div class="col-md-2 "><h3 class="top_div-message" align="center">upload เมื่อ</h3></div>
        </div>
    </div>
</div>

        <div class="row">

            {% for file in files %}
                <div class="col-md-12 middle_div-block " >
                    <div class="row">          
                        <div class="col-md-1 "><h4 class="middle_div-message">{{ file.id }}</h4></div>
                        <div class="col-md-5 "><h4 class="middle_div-message">{{ file.name_doc }}</h4></div>
                        <div class="col-md-2 "><h4 class="middle_div-message" align="center">{{ file.post_by }}</h4></div>
                        <div class="col-md-2 "><h4 class="middle_div-message" align="center">{{ file.date_create.strftime('%Y-%m-%d') }}</h4></div>
                        <button class="btn" style="background-color: transparent;color: #444444;"><i class="fa fa-download"></i></button>
                        <a id="{{ file.id }}"class="btn" style="background-color: transparent;color: #444444;" href="{{ url_for('doc', doc_set_id=file.id) }}"><i class="fas fa-ellipsis-v"></i></a>

                    </div>
                </div>
            {% endfor %}

        </div>

{% endblock content %}