{% extends "layout.html" %}
{% block content %}
<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        width: auto;
        height: auto;
    }
</style>
<div>
    <img src="{{ url_for('static', filename='/img/elib-logo-sticky.png') }}" class="center">
</div>

<div class="search-container" align="center" style="margin-top: 50px;">
    <form action="/action_page.php">
        <input type="text" placeholder="ต้องการค้นหาเอกสารใด.." name="search"
            style="width: 500px; font-size: 24px; border-radius: 15px;">
        <button type="submit" style="border: transparent; background-color: transparent;"><i
                class="fa fa-search"></i></button>
    </form>
</div>

<div class="search-container" align="center" style="margin-top: 50px;">
    <h3 class="center">หรือ</h3>
</div>

<div class="search-container" align="center" style="margin-top: 50px;">
    <div class="dropdown">
        <button class="dropbtn" style="border-radius: 20px; font-size: 24px;">เลือกประเภท</button>
        <div class="dropdown-content" id="style-2" style="overflow: auto; max-height: 250px;overflow-x: hidden;width: 300px; margin-left: -75px;">
            {% for choosen in choose %}
                <a class="overtext"href="{{ url_for('category', category_id=choosen.id) }}">{{ choosen.cate_name }}</a>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock content %}